.block-title {
  border: none;
  background: #3498db;
  font-family: 'Overlock', cursive;
  font-variant: normal;
  color: #FFF;
  padding: 5px;
  text-align: center;
  font-size: 16px;
}

.pre-posts {
  border: 1px solid #06A
}

.sep-posts {
  border: 1px solid #08D
}

.highlights-block {
  width: 100%;
}
