& {
  padding: 80px 0 20px 0;
  margin-top: -80px;
  background: linear-gradient(to bottom,
    rgba(0,136,204,0) 0%,
    rgba(0,136,204,0.5) 55%,
    rgba(0,136,204,1) 100%);
  #theme-footer {
    margin: auto;
    color: #fff;
    font-size: 14px;
    text-align: center;
    a {
      color: #fff;
    }
  }
}
