@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#theme-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3498db;
  box-shadow: 0px 3px 1px #3498db;
  z-index: 10;
  .container {
    #menu li {
      display: inline-block;
      font-family: "Open Sans";
      margin: 24px 0;
      a {
        color: #fff;
        font-size: 16px;
        padding: 10px 25px;
        font-weight: bold;
      }
    }
  }
}

#user{
  display: none;
  #top-search {
    display: none;
  }
}

#site-title {
  position: fixed;
  top: 0px;
  left: 0;
  width: auto;
  height: auto;
  z-index: 15;
  a{
    position: static;
    height: auto;
    img{
      width: 250px;
    }
  }
  #logo {
    position: absolute;
    top: -10px;
    width: 125px;
    height: 70px;
    margin-left: 70px;
  }
}

#link-go-content {
  display: none;
}
