@import url('https://fonts.googleapis.com/css?family=Overlock');

#article-header .title, #not-found h1, #access-denied h1 {
  font-weight: bold;
  font-family: 'Overlock';
  font-size: 30px;
  font-variant: normal;
  border-bottom: none;
  color: #06A;
}

#article {
  font-family: 'Overlock';
  font-size: 14px;
  line-height: 20px;
  color: #444;
}

.title {
  a {
    color: #08D;
    font-variant: normal;
    font-family: 'Overlock';
  }
}

  .control-panel {
    a {
      margin: 30px;
    }
  }
