<div class="container">
  <div class="row">
    <nav id="menu" class="pull-right">
      <ul>
        <li><%= link_to "Noticias", "#{top_url}/onda-digital/noticias" %></li>
        <li><%= link_to "Sobre","#{top_url}/onda-digital/sobre" %></li>
        <li><%= link_to "Projetos", "#" %></li>
        <li><%= link_to "Membros", "#" %></li>
        <li><%= link_to "Imprensa", "#" %></li>
        <li><%= link_to "Contato", "#" %></li>
        <li><% if Community['onda-digital'].admins.include? user %>
        <%= link_to "Painel de Controle", "#{top_url}/myprofile/onda-digital"%>
        <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>
