<%= link_to(image_tag("/designs/themes/site-onda/images/logoOndaDigital.png", id: "logo"), top_url+'/onda-digital') %>
<link rel="stylesheet" href="/designs/themes/site-onda/lib/bootstrap/css/bootstrap.min.css">
<script src="https://use.fontawesome.com/90c97078ff.js"></script>
