@import 'header';

#navigation {
  display: none;
}

#wrap-1 {
  position: absolute;
  top: 0;
  width: 100%;
}

#wrap-2 {
  margin: 0 15%;
  width: 75%;
  border: none;
  padding: 0;
  background: transparent;
  #content {
    margin: 132px 0 0 0;
    padding: 0;
    #boxes{
      @import 'blocks';
    }
    .main-content {
      @import 'main';
    }
  }
}

#footer {
  @import 'footer';
}
